/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

.layout--twothirds-left {
  display: flex;
  flex-wrap: wrap;
}

.layout--twothirds-left > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 1024px) {
  .layout--twothirds-left {
    flex-wrap: nowrap;
  }

  .layout--twothirds-left > .layout__region--first {
    flex: 0 1 67%;
  }

  .layout--twothirds-left > .layout__region--second {
    flex: 0 1 33%;
  }
}
