/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

.layout--twocol-50 {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-50 > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 1024px) {
  .layout--twocol-50 {
    flex-wrap: nowrap;
  }

  .layout--twocol-50 > .layout__region {
    flex: 0 1 50%;
  }
}
