<div>
  {{ 'Are you sure you want to permanently remove this <strong>@type</strong>?'|t({'@type': type}) }}<br />
  {% if translations|length > 1 %}
    <div class="warning-translation-delete">
      <p>
        {{ '<strong>Important!</strong>'|t }}<br />
        {{ 'The paragraph will be deleted in each of the following translations:'|t }}
        <ul>
          {% for language in translations %}
            <li>
              {{ language.name }}
            </li>
          {% endfor %}
        </ul>
      </p>
    </div>
  {% endif %}
  <div>
    {{ '<strong>This action cannot be undone.</strong>'|t }}
  </div>
</div>

